<%-include("_header", {user}) %>


<div>
    <div class="container-fluid" style="min-height: 91vh;" >
        <div class="row">
           
            <div class="col-12">
                <div class="row" style="margin-top: 120px;">
                     
                    <% if(error) {%>
                        <div class="col-8 m-auto">
                            <div class="alert alert-danger" role="alert">
                               <%=error%>
                              </div>
                        </div>
                    <%} %>
                    <% if(success) {%>
                        <div class="col-8 m-auto">
                            <div class="alert alert-success" role="alert">
                               <%=success%>
                              </div>
                        </div>
                    <%} %>
                  
<!-- ####################################################################################################### -->
                    <div class="col-8 m-auto p-5  bg-light">
                             <div class="col-sm-8"><h2>Change your Password</h2></div>
                        <form action="/admin/changePassword/<%=user.uid%>" method="post">
                            <div class="form-group">
                                <label for="">Password</label>
                                <input type="text" class="form-control" name="password" value="">
                            </div>

                            <div class="form-group">
                                <label for="">New Password</label>
                                <input type="text" class="form-control" name="new_password" value="">
                            </div>
                            
                            <div class="form-group">
                                <label for="">Confirm new Password</label>
                                <input type="text" class="form-control" name="confirm_new_password" value="">
                            </div>

                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                changePassword
                            </button>
                          </form>

<!-- ################################################################################################# -->
                    </div>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Do you really want to change password?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" id="btnYes" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>








                    


                </div>
            </div>
     </div>
  </div>
</div>
<script>

$('#btnYes').click(function() {
  
  // handle form processing here
  $('form').submit();

});


</script>

<%-include("_footer", {user}) %>