<%- include('_header',{title:"Dashboard"}) %>

      <%- include('_sidebar',{title:"Dashboard"}) %>


      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid ">
            <div class="row mb-2">
              <div class="col-sm-6">
                  <h1 class="m-0">Dashboard</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="/manager">Home</a></li>
                      <li class="breadcrumb-item active">Dashboard</li>
                  </ol>
              </div>
          </div>
          <div class="row mb-2" >
          <div class="col-md-6" >
             
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3>Branch :</h3>
    
                   <p><h1><%= user.branch_name%></h1></p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                 
                </div>
              
            </div>
            <div class="col-md-6" >
                  <!-- small box -->
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h3>Department :</h3>
      
                      <p><h1><%= user.department%></h1></p>
                    </div>
                    <div class="icon">
                      <i class="ion ion-pie-graph"></i>
                    </div>
    
                  </div>
                </div>
        </div>
          
          </div><!-- /.container-fluid -->
        </section>
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="card card-success">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6">
                  <div class="card mb-2 bg-gradient-dark">
                    <img class="card-img-top" src="/assets/public/dist/img/manager4.jpg" alt="Dist Photo 1">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                      <h5 class="card-title text-white mt-5 pt-2"></h5>
                      <p class="card-text text-white pb-2 pt-1"></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6">
                  <div class="card mb-2">
                    <img class="card-img-top" src="/assets/public/dist/img/manager3.jpg" alt="Dist Photo 2">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                      <h5 class="card-title text-white mt-5 pt-2"></h5>
                      <p class="card-text pb-2 pt-1 text-white ">
                       
                      </p>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
      
    <%- include('_footer') %>
    </html>